
	<style type="text/css">
	.progressbar {
		height: 10px;
		background: red;
		padding: 0.5em;
		float: right;
		clear: both;
		overflow: visible;
		width: 0;
		position: relative;
		top: 0;
		transition: 500ms linear all;
	}

	.progressbar span {
		position: absolute;
		top: 0.5em;
		right: 0;
	}
	</style>

	<video autoplay id="video_preview" style="zoom: 0.3"></video>
	<canvas style="display:none;" id="temp_canvas" width="640" height="360"></canvas>

	<button ng-click="emo.startSnapping();">Start</button>
	<button ng-click="emo.stopSnapping();">Stop</button>

	<div style="clear: both;"></div>

	<pre style="float: right; display: none" ></pre>
	<div style="float: right;">
		<div class="progressbar" ng-style="{width: emo.emotionLevels[0].scores.anger*100+'%'}" id="anger"><span>Anger</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.contempt*100+'%'}" id="contempt"><span>Contempt</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.disgust*100+'%'}" id="disgust"><span>Disgust</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.fear*100+'%'}" id="fear"><span>Fear</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.happiness*100+'%'}" id="happiness"><span>Happiness</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.neutral*100+'%'}" id="neutral"><span>Neutral</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.sadness*100+'%'}" id="sadness"><span>Sadness</span></div>
		<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.surprise*100+'%'}" id="surprise"><span>Surprise</span></div>
	</div>
	<img src="" id="captured_frame" style="float: left" />