<iframe width="560" height="315" ng-src="{{emo.movieUrl}}" frameborder="0" allowfullscreen></iframe>

	<input type="text" id="countdown" ng-model="emo.timeLeft" />

	<canvas style="display:none;" id="temp_canvas" width="640" height="360"></canvas>

	<!--<button ng-click="emo.startSnapping();">Start</button>-->
	<!--<button ng-click="emo.stopSnapping();">Stop</button>-->


	<!--<pre style="float: right; display: none" ></pre>-->
	<!--<div style="float: right;">-->
	<!--	<div class="progressbar" ng-style="{width: emo.emotionLevels[0].scores.anger*100+'%'}" id="anger"><span>Anger</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.contempt*100+'%'}" id="contempt"><span>Contempt</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.disgust*100+'%'}" id="disgust"><span>Disgust</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.fear*100+'%'}" id="fear"><span>Fear</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.happiness*100+'%'}" id="happiness"><span>Happiness</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.neutral*100+'%'}" id="neutral"><span>Neutral</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.sadness*100+'%'}" id="sadness"><span>Sadness</span></div>-->
	<!--	<div class="progressbar"  ng-style="{width: emo.emotionLevels[0].scores.surprise*100+'%'}" id="surprise"><span>Surprise</span></div>-->
	<!--</div>-->
	
	<div id="happiness_bar" ng-style="{width: emo.emotionLevels[0].scores.happiness*100+'%'}"></div>
	
	<div id="below_happiness_bar">
		<img src="./img/sad_icon.png" style="float: left;" />
		<img src="./img/happy_icon.png" style="float: right;" />
	</div>
	<img src="" id="captured_frame" style="display: none;" />