    body {
        background: rgb(239, 79, 93);
        text-align: center;
    }
    
    .shadow {
        box-shadow: 0 0 5px rgba(0,0,0,1);
    }
    
    .orange-bg {
        background: rgb(253, 173, 85);
    }
    
    .center {
        text-align: center;
    }
    
    #orange_bar {
        padding: 1em 0;
        margin-top: -1.5em;
        text-align: center;
        position: relative;
        top: 0;
        z-index: 2;
    }
    
    .navbar {
        position: relative;
        top: 0;
        z-index: 4;
    }
        
    #new_player_gender {
        text-align: center;
        margin-top: 3em;
    }    
    
    
    #new_player_gender * {
        margin: 1em;
    }
    
    
    #new_player_gender img {
        vertical-align: bottom;
    }
    
    input[type=text] {
        border: none;
        border-bottom: 2px solid rgb(253, 173, 85);
        color: rgb(253, 173, 85);
        padding: 0.5em;
        background: transparent;
        font-size: 1.3em;
    }
    
  #players {
    text-align: center;
    margin-top: 4em;
  }

  .player {
    width: 120px;
    height: 250px;
    display: inline-block;
    margin-right: 1em;
    position: relative;
    top: 0;
    background: transparent url('../img/male.png') center center no-repeat;
  }
  
  .player.female {
    background-image: url('../img/female.png');
  }
  
  .player .name {
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .player .player_remove {
      zoom: 0.75;
      float: left;
  } 
  
  #new_player_gender img {
    cursor: pointer;
    opacity: 0.4;
    transition: 300ms linear all;
  }
  
  #new_player_gender img.active {
    opacity: 1;
  }
  
  
  
  